<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spopia.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.spopia.infra.modules.code.Code"></resultMap>
    
    <sql id ="selectCommon">
		FROM code c
		inner join codeGroup cg on cg.ccgSeq = c.codeGroup_ccgSeq
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND ifccDelNy = #{shDelNy}</if>
		<choose>
			<when test="shOption == 1">AND ccSeq = #{shValue}</when>
			<when test="shOption == 2">AND ifccName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND ifccNameEng LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql"/>
			select 
				c.ccSeq
				,c.ifccAnother
				,c.ifccName
				,c.ifccNameEng
				,c.ifccUseNy
				,c.ifccOrder
				,c.ifccExplanation
				,c.ifccDelNy
				,c.ifccReferencev1
				,c.ifccReferencev2
				,c.ifccReferencev3
				,c.ifccReferenceI1
				,c.ifccReferenceI2
				,c.ifccReferenceI3
				,c.createdAt
				,c.modifiedAt
				,c.codeGroup_ccgSeq
			    ,cg.ccgSeq as ccgSeq
			    ,cg.ifcgName as ifcgName
		    <include refid="selectCommon"/>
			ORDER BY c.ccSeq DESC
			<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			c.*
		from
			code c
		where 1=1
			AND ccSeq = #{ccSeq}
	</select>
	
	<insert id="insert">
		INSERT INTO code (
			ifccName
			,ifccAnother
			,ifccNameEng
			,ifccUseNy
			,ifccOrder
			,ifccExplanation
			,ifccDelNy
			,ifccReferencev1
			,ifccReferencev2
			,ifccReferencev3
			,ifccReferenceI1
			,ifccReferenceI2
			,ifccReferenceI3
			,codeGroup_ccgSeq
			,createdAt
		)
		VALUES (
			#{ifccName}
			,#{ifccAnother}
			,#{ifccNameEng}
			,#{ifccUseNy}
			,#{ifccOrder}
			,#{ifccExplanation}
			,#{ifccDelNy}
			,#{referenceV1}
			,#{referenceV2}
			,#{referenceV3}
			,#{referenceI1}
			,#{referenceI2}
			,#{referenceI3}
			,#{ccgSeq}
			,now()
		)
		
		<selectKey resultType="String" keyProperty="ccSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE code
		SET
			ifccName = #{ifccName}
			,ifccAnother = #{ifccAnother}
			,ifccNameEng = #{ifccNameEng}
			,ifccUseNy = #{ifccUseNy}
			,ifccOrder = #{ifccOrder}
			,ifccExplanation = #{ifccExplanation}
			,ifccDelNy = #{ifccDelNy}
			,ifccReferencev1 = #{referenceV1}
			,ifccReferencev2 = #{referenceV2}
			,ifccReferencev3 = #{referenceV3}
			,ifccReferenceI1 = #{referenceI1}
			,ifccReferenceI2 = #{referenceI2}
			,ifccReferenceI3 = #{referenceI3}
			,modifiedAt = now()
		WHERE 1=1
			AND ccSeq = #{ccSeq}
	</update>
	
	<update id="uelete">
		UPDATE code
		SET
			ifccDelNy = 1
		where 1=1
			AND ccSeq = #{ccSeq}
	</update>
	
	<delete id="delete">
		DELETE
		FROM code where ccSeq = #{ccSeq}
	</delete>
	
    <select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			ccSeq
			, ifccName
			, codeGroup_ccgSeq as ccgSeq
		FROM
			code
		WHERE 1=1
			AND ifccDelNy = 0
		    AND ifccUseNy = 1
    </select>

</mapper>	
