<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spopia.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.spopia.infra.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select 
			c.*
		   <!--  ,cg.seq as ccgseq
		    ,cg.groupName as groupName -->
		from 
			CC c
			<!-- inner join CCG cg on cg.seq = c.CCG_seq -->
		where 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND deleteNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND seq = #{shValue}</when>
				<when test="shOption == 2">AND CCName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND CCG_seq = #{shValue}</when>
				<otherwise></otherwise>
			</choose>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			c.*
		from
			CC c
		where 1=1
			AND c.seq = #{seq}
	</select>
	
	<insert id="insert">
		INSERT INTO CC (
			CCName
			,seqAnother
			,useNY
			,ccOrder
			,ReferenceV1
			,ReferenceV2
			,ReferenceI1
			,ReferenceI2
			,CCG_seq
		)
		VALUES (
			#{CCName}
			,#{seqAnother}
			,#{useNY}
			,#{ccOrder}
			,#{referenceV1}
			,#{referenceV2}
			,#{referenceI1}
			,#{referenceI2}
			,#{ccgSeq}
		)
		
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>

</mapper>	
