.u_cbox, .u_cbox button, .u_cbox input, .u_cbox select, .u_cbox table, .u_cbox textarea {
    font-size: 14px;
    line-height: 1.25em;
}

.u_cbox, .u_cbox button, .u_cbox dd, .u_cbox dl, .u_cbox dt, .u_cbox fieldset, .u_cbox form, .u_cbox h1, .u_cbox h2, .u_cbox h3, .u_cbox h4, .u_cbox h5, .u_cbox h6, .u_cbox input, .u_cbox legend, .u_cbox li, .u_cbox ol, .u_cbox p, .u_cbox select, .u_cbox table, .u_cbox td, .u_cbox textarea, .u_cbox th, .u_cbox ul {
    margin: 0;
    padding: 0;
    font-family: Helvetica,sans-serif;
}

.u_cbox {
    position: relative;
    background-color: #fff;
    color: #000;
    text-align: left;
    -webkit-text-size-adjust: none;
}

.u_cbox .u_cbox_write_box {
    position: relative;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, figure {
    margin: 0;
    padding: 0;
}

form {
    display: block;
    margin-top: 0em;
}

.u_cbox fieldset {
    min-width: 0;
}

.u_cbox fieldset, .u_cbox img {
    border: 0;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

.u_cbox .u_vc {
    overflow: hidden;
    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.u_vc, .u_hc, .u_skip, .newsct_body caption, .blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

#cbox_module .u_cbox_write .u_cbox_write_inner {
    overflow: hidden;
    border: 1px solid #b0b3be;
    border-radius: 4px;
}

.u_cbox .u_cbox_write .u_cbox_write_inner {
    position: relative;
    background-color: #fff;
}

/* profile area */
#cbox_module .u_cbox_profile_area {
    position: relative;
    z-index: 1;
    height: 26px;
    padding-top: 12px;
    padding-left: 14px;
    margin-bottom: -8px;
}

.u_cbox .u_cbox_profile_area {
    display: none;
    padding: 11px 82px 0 13px;
    background-color: #fff;
}

.u_cbox .u_cbox_profile {
    overflow: hidden;
}

.u_cbox .u_vc {
    overflow: hidden;
    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.u_cbox b, .u_cbox strong {
    font-weight: 400;
}

#cbox_module .u_cbox_write .u_cbox_thumb {
    position: relative;
    margin-right: 5px;
}

.u_cbox .u_cbox_thumb {
    float: left;
}

#cbox_module .u_cbox_write .u_cbox_thumb .u_cbox_img_profile {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.u_cbox .u_cbox_thumb .u_cbox_img_profile {
    width: 23px;
    height: 23px;
    vertical-align: top;
}

.u_cbox fieldset, .u_cbox img {
    border: 0;
}

#cbox_module .u_cbox_write .u_cbox_write_inner .u_cbox_thumb+.u_cbox_box_name {
    left: 45px;
}

#cbox_module .u_cbox_box_name, #cbox_module .u_cbox_social {
    top: 15px;
    line-height: 20px;
}

.u_cbox .u_cbox_box_name {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 82px;
    bottom: 0;
    height: 22px;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    z-index: 10;
}

#cbox_module .u_cbox_box_name .u_cbox_write_name {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica,"Apple SD Gothic Neo",sans-serif;
}

.u_cbox .u_cbox_box_name .u_cbox_write_name {
    font-weight: 700;
}

.u_cbox .u_cbox_write .u_cbox_write_area {
    max-width: 100%;
}

.u_cbox .u_vc {
    overflow: hidden;
    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.u_cbox b, .u_cbox strong {
    font-weight: 400;
}

#cbox_module .u_cbox_attached .u_cbox_profile_area+.u_cbox_write_area .u_cbox_inbox, #cbox_module .u_cbox_edit .u_cbox_profile_area+.u_cbox_write_area .u_cbox_inbox, #cbox_module .u_cbox_focus .u_cbox_profile_area+.u_cbox_write_area .u_cbox_inbox, #cbox_module .u_cbox_writing .u_cbox_profile_area+.u_cbox_write_area .u_cbox_inbox {
    padding: 13px 14px 10px;
}

#cbox_module .u_cbox_write .u_cbox_inbox {
    margin-right: 0;
    margin-top: 10px;
}

.u_cbox .u_cbox_attached .u_cbox_profile_area+.u_cbox_write_area .u_cbox_inbox, .u_cbox .u_cbox_edit .u_cbox_profile_area+.u_cbox_write_area .u_cbox_inbox, .u_cbox .u_cbox_focus .u_cbox_profile_area+.u_cbox_write_area .u_cbox_inbox, .u_cbox .u_cbox_writing .u_cbox_profile_area+.u_cbox_write_area .u_cbox_inbox {
    border-top: 0;
}

.u_cbox .u_cbox_write .u_cbox_inbox {
    position: relative;
    background-color: #fff;
}

#cbox_module .u_cbox_attached .u_cbox_inbox .u_cbox_text, #cbox_module .u_cbox_edit .u_cbox_inbox .u_cbox_text, #cbox_module .u_cbox_focus .u_cbox_inbox .u_cbox_text, #cbox_module .u_cbox_writing .u_cbox_inbox .u_cbox_text {
    height: 143px;
}

#cbox_module .u_cbox_type_logged_in .u_cbox_inbox .u_cbox_text, #cbox_module .u_cbox_type_logged_out .u_cbox_inbox .u_cbox_text {
    font-size: 15px;
}

.u_cbox .u_cbox_attached .u_cbox_inbox .u_cbox_text, .u_cbox .u_cbox_edit .u_cbox_inbox .u_cbox_text, .u_cbox .u_cbox_focus .u_cbox_inbox .u_cbox_text, .u_cbox .u_cbox_writing .u_cbox_inbox .u_cbox_text {
    overflow-y: auto;
    z-index: 20;
}

.u_cbox .u_cbox_write .u_cbox_inbox .u_cbox_text {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    border: none;
    background-color: transparent;
    line-height: 1.25;
    letter-spacing: -.5px;
    color: #333;
    -webkit-appearance: none;
    resize: none;
}

#cbox_module .u_cbox_attached .u_cbox_inbox .u_cbox_guide, #cbox_module .u_cbox_focus .u_cbox_inbox .u_cbox_guide {
    top: 15px;
}

#cbox_module .u_cbox_attached .u_cbox_inbox .u_cbox_guide, #cbox_module .u_cbox_edit .u_cbox_inbox .u_cbox_guide, #cbox_module .u_cbox_focus .u_cbox_inbox .u_cbox_guide, #cbox_module .u_cbox_writing .u_cbox_inbox .u_cbox_guide {
    opacity: .5;
    line-height: 20px;
}

#cbox_module .u_cbox_write .u_cbox_inbox .u_cbox_guide {
    bottom: 12px;
    font-size: 15px;
    color: #929292;
}

.u_cbox .u_cbox_attached .u_cbox_inbox .u_cbox_guide, .u_cbox .u_cbox_focus .u_cbox_inbox .u_cbox_guide {
    display: -webkit-box;
    left: 14px;
    right: 14px;
    white-space: normal;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.u_cbox .u_cbox_write .u_cbox_inbox .u_cbox_guide {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    border: none;
    letter-spacing: -.5px;
    text-overflow: ellipsis;
}

label {
    cursor: default;
}

#cbox_module .u_cbox_write_count {
    position: absolute;
    left: 15px;
    bottom: 14px;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica,"Apple SD Gothic Neo",sans-serif;
    color: #999;
}

.u_cbox .u_vc {
    overflow: hidden;
    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

#cbox_module .u_cbox_write_count .u_cbox_count_num {
    margin-right: 4px;
    font-weight: 500;
    color: #222;
}

#cbox_module .u_cbox_write_count .u_cbox_write_total {
    margin-left: 4px;
}

#cbox_module .u_cbox_attached .u_cbox_upload, #cbox_module .u_cbox_edit .u_cbox_upload, #cbox_module .u_cbox_focus .u_cbox_upload, #cbox_module .u_cbox_writing .u_cbox_upload {
    height: 47px;
    border-top: 1px solid #f0f0f0;
}

.u_cbox .u_cbox_attached .u_cbox_profile, .u_cbox .u_cbox_attached .u_cbox_profile_area, .u_cbox .u_cbox_attached .u_cbox_upload, .u_cbox .u_cbox_attached .u_cbox_upload_image, .u_cbox .u_cbox_attached .u_cbox_upload_sticker, .u_cbox .u_cbox_attached .u_cbox_write_count, .u_cbox .u_cbox_edit .u_cbox_profile, .u_cbox .u_cbox_edit .u_cbox_profile_area, .u_cbox .u_cbox_edit .u_cbox_upload, .u_cbox .u_cbox_edit .u_cbox_upload_image, .u_cbox .u_cbox_edit .u_cbox_upload_sticker, .u_cbox .u_cbox_edit .u_cbox_write_count, .u_cbox .u_cbox_focus .u_cbox_profile, .u_cbox .u_cbox_focus .u_cbox_profile_area, .u_cbox .u_cbox_focus .u_cbox_upload, .u_cbox .u_cbox_focus .u_cbox_upload_image, .u_cbox .u_cbox_focus .u_cbox_upload_sticker, .u_cbox .u_cbox_focus .u_cbox_write_count, .u_cbox .u_cbox_type_logged_in_social .u_cbox_profile_area, .u_cbox .u_cbox_type_logged_out .u_cbox_profile_area, .u_cbox .u_cbox_writing .u_cbox_profile, .u_cbox .u_cbox_writing .u_cbox_profile_area, .u_cbox .u_cbox_writing .u_cbox_upload, .u_cbox .u_cbox_writing .u_cbox_upload_image, .u_cbox .u_cbox_writing .u_cbox_upload_sticker, .u_cbox .u_cbox_writing .u_cbox_write_count {
    display: block;
}

#cbox_module .u_cbox_focus .u_cbox_addition {
    display: block;
    position: absolute;
    top: auto;
    left: auto;
    right: 66px;
    white-space: nowrap;
}

.u_cbox .u_cbox_addition {
    z-index: 10;
    padding-left: 4px;
}

.u_cbox .u_cbox_addition::after {
    display: block;
    clear: both;
    content: '';
}


#cbox_module .u_cbox_focus .u_cbox_btn_upload, #cbox_module .u_cbox_reply_area .u_cbox_focus .u_cbox_btn_upload, #cbox_module .u_cbox_reply_area .u_cbox_writing .u_cbox_btn_upload, #cbox_module .u_cbox_writing .u_cbox_btn_upload {
    display: block;
    height: 30px;
    min-width: 44px;
    margin: 9px;
    background: #b0b3be;
    border-radius: 3px;
    border: none;
    font-size: 13px;
    color: #fff;
    letter-spacing: -.5px;
}

.u_cbox .u_cbox_attached .u_cbox_btn_upload, .u_cbox .u_cbox_edit .u_cbox_btn_upload, .u_cbox .u_cbox_focus .u_cbox_btn_upload, .u_cbox .u_cbox_writing .u_cbox_btn_upload {
    top: auto;
}

.u_cbox .u_cbox_write .u_cbox_btn_upload {
    position: absolute;
    bottom: -1px;
    right: -1px;
    line-height: 100%;
    font-weight: 700;
    text-align: center;
    z-index: 10;
}

.u_cbox button {
    overflow: visible;
    -webkit-user-select: none;
    cursor: pointer;
}

.u_cbox a, .u_cbox button {
    overflow-anchor: none;
}

.u_cbox, .u_cbox button, .u_cbox dd, .u_cbox dl, .u_cbox dt, .u_cbox fieldset, .u_cbox form, .u_cbox h1, .u_cbox h2, .u_cbox h3, .u_cbox h4, .u_cbox h5, .u_cbox h6, .u_cbox input, .u_cbox legend, .u_cbox li, .u_cbox ol, .u_cbox p, .u_cbox select, .u_cbox table, .u_cbox td, .u_cbox textarea, .u_cbox th, .u_cbox ul {
    padding: 0;
    font-family: Helvetica,sans-serif;
}

body, input, textarea, select, button, table {
    font-size: 14px;
    font-family: HelveticaNeue,AppleSDGothicNeo-Regular,Arial,sans-serif;
    line-height: 1.25em;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    box-sizing: border-box;
}










