.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

time {
    margin-bottom: 5px;
    font-size: 34px;
    line-height: 40px;
}

/* 팀 선택 창 */
.CheerVS_comp_cheer__2Ko7V {
    padding: 16px;
    background-color: var(--color-background1);
}

.NO_TAP_HIGHLIGHT * {
    -webkit-tap-highlight-color: rgba(0,0,0,.25);
}

div {
    display: block;
}

.CheerVS_cheer_box__1oy_U {
    position: relative;
}

.blind, .u_skip {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, menu, nav, ol, p, select, table, td, textarea, th, ul {
    padding: 0;
    font-size: 14px;
    line-height: 1.25;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.CheerVS_cheer_area__1jVle {
    position: relative;
    height: 90px;
    letter-spacing: -.5px;
}

.CheerVS_left_team__3uqU9 {
    left: 0;
    padding-right: 2.5px;
}
.CheerVS_left_team__3uqU9, .CheerVS_right_team__2cmbF {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    min-width: 107px;
    max-width: calc(100% - 107px);
    transition: all .3s cubic-bezier(.215,.61,.355,1);
    transform: scale(1);
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.CheerVS_team_cover__2Fb3h {
    position: relative;
    height: 90px;
    padding: 0 15px;
    border-radius: 15px;
    box-shadow: 0 7px 10px 0 rgb(0 0 0 / 5%), 0 2px 7px 0 rgb(0 0 0 / 10%);
    transition: transform .2s cubic-bezier(.215,.61,.355,1),-webkit-transform .2s cubic-bezier(.215,.61,.355,1);
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.CheerVS_team_cover__2Fb3h, .CheerVS_versus__xXspg {
    transform: scale(1);
}

.CheerVS_team_cover__2Fb3h:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    border: 2px solid;
    border-color: inherit;
    mix-blend-mode: soft-light;
    opacity: .3;
    content: "";
}

.CheerVS_team_cover__2Fb3h .CheerVS_emblem__2zXNQ {
    margin-top: 5px;
    vertical-align: top;
    opacity: 1;
    transition: all .3s cubic-bezier(.215,.61,.355,1);
    filter: drop-shadow(0 5px 6px rgba(0,0,0,.15));
}

.NO_TAP_HIGHLIGHT * {
    -webkit-tap-highlight-color: rgba(0,0,0,.25);
}

fieldset, img {
    border: 0;
}

.CheerVS_left_team__3uqU9 .CheerVS_team_cover__2Fb3h .CheerVS_team__5OZFJ {
    transform-origin: left bottom;
}

.CheerVS_team_cover__2Fb3h .CheerVS_team__5OZFJ {
    opacity: 0;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    text-shadow: 0 5px 6px rgb(0 0 0 / 15%);
    word-break: keep-all;
}

.CheerVS_left_team__3uqU9 .CheerVS_team_cover__2Fb3h .CheerVS_count__3K7p8 {
    left: 15px;
    transform-origin: left top;
}

.CheerVS_team_cover__2Fb3h .CheerVS_count__3K7p8 {
    position: absolute;
    bottom: 12px;
    opacity: 1;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    transition: all .2s cubic-bezier(.215,.61,.355,1);
    transform: scale(1);
    font-family: Helvetica Neue,sans-serif;
    white-space: nowrap;
    color: inherit;
}

.CheerVS_left_team__3uqU9 .CheerVS_special_cover__2xWeb {
    left: 0;
    padding-right: 2.5px;
}

.CheerVS_special_cover__2xWeb {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 11;
    opacity: 0;
    width: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-weight: 700;
    white-space: nowrap;
    transition-property: all;
    transition-delay: .3s;
}

.CheerVS_left_team__3uqU9 .CheerVS_special_cover__2xWeb .CheerVS_emblem__2zXNQ {
    left: 15px;
}

.CheerVS_special_cover__2xWeb .CheerVS_emblem__2zXNQ {
    position: absolute;
    top: 0;
    transform: scale(.8);
    opacity: 0;
    transition: all .1s cubic-bezier(.215,.61,.355,1) 0s;
    vertical-align: top;
    filter: drop-shadow(0 5px 6px rgba(0,0,0,.15));
}

.CheerVS_special_cover__2xWeb .CheerVS_team__5OZFJ {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.CheerVS_left_team__3uqU9 .CheerVS_special_cover__2xWeb .CheerVS_count__3K7p8, .CheerVS_left_team__3uqU9 .CheerVS_special_cover__2xWeb .CheerVS_text__21oiE {
    left: 120px;
    transform: translateX(20px);
}

.CheerVS_special_cover__2xWeb .CheerVS_count__3K7p8 {
    position: absolute;
    top: 5px;
    font-size: 40px;
    font-family: Helvetica Neue,sans-serif;
    letter-spacing: 0;
    opacity: 0;
    transition: transform .1s cubic-bezier(.215,.61,.355,1) .3s,-webkit-transform .1s cubic-bezier(.215,.61,.355,1) .3s;
    animation: cheer_special_fadeout .1s cubic-bezier(.215,.61,.355,1) 0s forwards;
}


.CheerVS_left_team__3uqU9 .CheerVS_special_cover__2xWeb .CheerVS_count__3K7p8, .CheerVS_left_team__3uqU9 .CheerVS_special_cover__2xWeb .CheerVS_text__21oiE {
    left: 120px;
    transform: translateX(20px);
}

.CheerVS_special_cover__2xWeb .CheerVS_text__21oiE {
    position: absolute;
    top: 53px;
    font-size: 22px;
    line-height: 27px;
    opacity: 0;
    transition: transform .1s cubic-bezier(.215,.61,.355,1) .3s,-webkit-transform .1s cubic-bezier(.215,.61,.355,1) .3s;
    animation: cheer_special_fadeout .1s cubic-bezier(.215,.61,.355,1) 0s forwards;
}

.CheerVS_special_cover__2xWeb .CheerVS_text__21oiE:after {
    background-image: url(https://ssl.pstatic.net/static.sports/resources/web-ui/game/221008-135234/img/sp_game_end.0e0a556b.png);
    background-size: 608px 426px;
    background-repeat: no-repeat;
    background-position: -462px -317px;
    width: 23px;
    height: 23px;
    display: inline-block;
    margin: -3px 0 0 2px;
    vertical-align: middle;
    content: "";
}

svg {
    vertical-align: top;
}

.CheerVS_right_team__2cmbF {
    right: 0;
    padding-left: 2.5px;
    text-align: right;
}

.CheerVS_left_team__3uqU9, .CheerVS_right_team__2cmbF {
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 107px;
    max-width: calc(100% - 107px);
    transition: all .3s cubic-bezier(.215,.61,.355,1);
    transform: scale(1);
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.CheerVS_team_cover__2Fb3h, .CheerVS_versus__xXspg {
    transform: scale(1);
}

.CheerVS_versus__xXspg {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    width: 45px;
    height: 31px;
    margin: -16px 0 0 -22px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -1px;
    font-family: Arial,sans-serif;
    font-weight: 900;
    color: #9b9b9b;
    border-radius: 16px;
    opacity: 1;
    transition: transform .2s cubic-bezier(.215,.61,.355,1) .3s,-webkit-transform .2s cubic-bezier(.215,.61,.355,1) .3s;
    pointer-events: none;
    touch-action: none;
}

.CheerVS_team_cover__2Fb3h {
    position: relative;
    height: 90px;
    padding: 0 15px;
    border-radius: 15px;
    box-shadow: 0 7px 10px 0 rgb(0 0 0 / 5%), 0 2px 7px 0 rgb(0 0 0 / 10%);
    transition: transform .2s cubic-bezier(.215,.61,.355,1),-webkit-transform .2s cubic-bezier(.215,.61,.355,1);
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.CheerVS_team_cover__2Fb3h, .CheerVS_versus__xXspg {
    transform: scale(1);
}

.CheerVS_team_cover__2Fb3h:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    border: 2px solid;
    border-color: inherit;
    mix-blend-mode: soft-light;
    opacity: .3;
    content: "";
}

.CheerVS_team_cover__2Fb3h .CheerVS_emblem__2zXNQ {
    margin-top: 5px;
    vertical-align: top;
    opacity: 1;
    transition: all .3s cubic-bezier(.215,.61,.355,1);
    filter: drop-shadow(0 5px 6px rgba(0,0,0,.15));
}

.CheerVS_right_team__2cmbF .CheerVS_team_cover__2Fb3h .CheerVS_team__5OZFJ {
    transform-origin: right bottom;
}

.CheerVS_team_cover__2Fb3h .CheerVS_team__5OZFJ {
    opacity: 0;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    text-shadow: 0 5px 6px rgb(0 0 0 / 15%);
    word-break: keep-all;
}

.CheerVS_right_team__2cmbF .CheerVS_team_cover__2Fb3h .CheerVS_count__3K7p8 {
    right: 15px;
    transform-origin: right top;
}

.CheerVS_team_cover__2Fb3h .CheerVS_count__3K7p8 {
    position: absolute;
    bottom: 12px;
    opacity: 1;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    transition: all .2s cubic-bezier(.215,.61,.355,1);
    transform: scale(1);
    font-family: Helvetica Neue,sans-serif;
    white-space: nowrap;
    color: inherit;
}

.CheerVS_right_team__2cmbF .CheerVS_special_cover__2xWeb {
    right: 0;
    padding-left: 2.5px;
}

.CheerVS_special_cover__2xWeb {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 11;
    opacity: 0;
    width: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-weight: 700;
    white-space: nowrap;
    transition-property: all;
    transition-delay: .3s;
}

.CheerVS_right_team__2cmbF .CheerVS_special_cover__2xWeb .CheerVS_emblem__2zXNQ {
    right: 15px;
}

.CheerVS_special_cover__2xWeb .CheerVS_emblem__2zXNQ {
    position: absolute;
    top: 0;
    transform: scale(.8);
    opacity: 0;
    transition: all .1s cubic-bezier(.215,.61,.355,1) 0s;
    vertical-align: top;
    filter: drop-shadow(0 5px 6px rgba(0,0,0,.15));
}

.CheerVS_special_cover__2xWeb .CheerVS_team__5OZFJ {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.CheerVS_right_team__2cmbF .CheerVS_special_cover__2xWeb .CheerVS_count__3K7p8, .CheerVS_right_team__2cmbF .CheerVS_special_cover__2xWeb .CheerVS_text__21oiE {
    right: 120px;
    transform: translateX(-20px);
}

.CheerVS_special_cover__2xWeb .CheerVS_count__3K7p8 {
    position: absolute;
    top: 5px;
    font-size: 40px;
    font-family: Helvetica Neue,sans-serif;
    letter-spacing: 0;
    opacity: 0;
    transition: transform .1s cubic-bezier(.215,.61,.355,1) .3s,-webkit-transform .1s cubic-bezier(.215,.61,.355,1) .3s;
    animation: cheer_special_fadeout .1s cubic-bezier(.215,.61,.355,1) 0s forwards;
}

.CheerVS_right_team__2cmbF .CheerVS_special_cover__2xWeb .CheerVS_count__3K7p8, .CheerVS_right_team__2cmbF .CheerVS_special_cover__2xWeb .CheerVS_text__21oiE {
    right: 120px;
    transform: translateX(-20px);
}

.CheerVS_special_cover__2xWeb .CheerVS_text__21oiE {
    position: absolute;
    top: 53px;
    font-size: 22px;
    line-height: 27px;
    opacity: 0;
    transition: transform .1s cubic-bezier(.215,.61,.355,1) .3s,-webkit-transform .1s cubic-bezier(.215,.61,.355,1) .3s;
    animation: cheer_special_fadeout .1s cubic-bezier(.215,.61,.355,1) 0s forwards;
}

.CheerVS_special_cover__2xWeb .CheerVS_text__21oiE:after {
    background-image: url(https://ssl.pstatic.net/static.sports/resources/web-ui/game/221008-135234/img/sp_game_end.0e0a556b.png);
    background-size: 608px 426px;
    background-repeat: no-repeat;
    background-position: -462px -317px;
    width: 23px;
    height: 23px;
    display: inline-block;
    margin: -3px 0 0 2px;
    vertical-align: middle;
    content: "";
}






