<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spopia.infra.modules.article.ArticleMapper">

    <resultMap id="resultMapObj" type="com.spopia.infra.modules.article.Article"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			a.seq
			,a.title
		    ,a.content
		    ,a.newspaper
		    ,a.abroadNy
		    ,a.event
		    ,a.league
		    ,a.reporter
		    ,a.aDelNy
		    ,a.createdAt
		    ,a.modifiedAt
		    ,u.email as email
		from 
			article a
			inner join user u on u.seq = a.createdBy
		where 1=1
			
			<if test="shDelNy != null and !shDelNy.equals('')">AND aDelNy  = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND reporter LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 2">AND newspaper LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND event LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
			<choose>
				<when test="shDate == 1">AND a.createdAt BETWEEN #{startDate} AND #{endDate}</when>
				<otherwise></otherwise>
			</choose>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			a.seq
			,a.title
			,a.content
			,a.newspaper
			,a.abroadNy
			,a.event
			,a.league
			,a.reporter
			,a.aDelNy
			,a.createdAt
			,a.modifiedAt
			,u.email as email
		from article a
			inner join user u on u.seq = a.createdBy
		where 1=1
			and a.seq = #{seq}
	</select>
	
	<insert id="insert">
		INSERT INTO article (
			title
			,content
			,newspaper
			,abroadNy
			,event
			,league
			,reporter
			,aDelNy
			,createdAt
			,modifiedAt
		) 
		VALUES (
			#{title}
			,#{content}
			,#{newspaper}
			,#{abroadNy}
			,#{event}
			,#{league}
			,#{reporter}
			,#{aDelNy}
			,now()
			,now()
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE article
		SET
			title = #{title}
			,content = #{content}
			,newspaper = #{newspaper}
			,abroadNy = #{abroadNy}
			,event = #{event}
			,league = #{league}
			,reporter = #{reporter}
			,modifiedAt = now()
		where 1=1
			and seq = #{seq}
	</update>

</mapper>