<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spopia.infra.modules.article.ArticleMapper">

    <resultMap id="resultMapObj" type="com.spopia.infra.modules.article.Article"></resultMap>
    
    <sql id ="selectCommon">
		FROM article a
			inner join user u on u.seq = a.createdBy
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND aDelNy = #{shDelNy}</if>
		<choose>
			<when test="shOption == 1">AND aSeq = #{shValue}</when>
			<when test="shOption == 2">AND newspaper LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND reporter LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 4">AND aEvent LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
		<choose>
			<when test="shDate == 1">AND a.aCreatedAt BETWEEN #{startDate} AND #{endDate}</when>
			<otherwise></otherwise>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select
				a.aSeq
				,a.title
			    ,a.content
			    ,a.newspaper
			    ,a.aAbroadNy
			    ,a.aEvent
			    ,a.aLeague
			    ,a.reporter
			    ,a.aDelNy
			    ,a.aCreatedAt
			    ,a.aModifiedAt
			    ,u.email as email
			<include refid="selectCommon"></include>
			ORDER BY a.aSeq DESC
			<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectList1" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select
				a.aSeq
				,a.title
			    ,a.content
			    ,a.newspaper
			    ,a.aAbroadNy
			    ,a.aEvent
			    ,a.aLeague
			    ,a.reporter
			    ,a.aDelNy
			    ,a.aCreatedAt
			    ,a.aModifiedAt
			    ,u.email as email
			<include refid="selectCommon"></include>
			ORDER BY a.aSeq DESC
			<include refid="Base.orderByLimitForMysql" />
			)aa
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			a.aSeq
			,a.title
			,a.content
			,a.newspaper
			,a.aAbroadNy
			,a.aEvent
			,a.aLeague
			,a.reporter
			,a.aDelNy
			,a.aCreatedAt
			,a.aModifiedAt
			,u.email as email
			,au.path as path
			,au.uuidName as uuidName
		from article a
			inner join user u on u.seq = a.createdBy
			inner join articleUploaded au on au.pseq = a.aSeq
		where 1=1
			and a.aSeq = #{aSeq}
	</select>
	
	<insert id="insert">
		INSERT INTO article (
			title
			,content
			,newspaper
			,aAbroadNy
			,aEvent
			,aLeague
			,reporter
			,aDelNy
			,aCreatedAt
			,aModifiedAt
			,createdBy
			,modifiedBy
		) 
		VALUES (
			#{title}
			,#{content}
			,#{newspaper}
			,#{aAbroadNy}
			,#{aEvent}
			,#{aLeague}
			,#{reporter}
			,0
			,now()
			,now()
			,1
			,1
		)
		<selectKey resultType="String" keyProperty="aSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE article
		SET
			title = #{title}
			,content = #{content}
			,newspaper = #{newspaper}
			,aAbroadNy = #{aAbroadNy}
			,aEvent = #{aEvent}
			,aLeague = #{aLeague}
			,reporter = #{reporter}
			,aModifiedAt = now()
		where 1=1
			and aSeq = #{aSeq}
	</update>

	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			ccSeq
			, ifccName
			, codeGroup_ccgSeq as ccgSeq
		FROM
			article
		WHERE 1=1
			AND ifccDelNy = 0
		    AND ifccUseNy = 1
    </select>
    
    <select id="mainList" resultMap="resultMapObj">
    	<include refid="Base.selectListUpperForMysql" />
	    	SELECT
	    		a.aSeq
	    		,a.title
	    		,a.content
	    		,a.newspaper
	    		,a.aAbroadNy
	    		,a.aEvent
	    		,a.aLeague
	    		,a.reporter
	    		,a.aCreatedAt
	    		,a.aModifiedAt
	    		,u.email as email
	    		,au.path as path
	    		,au.uuidName as uuidName
	   		FROM article a
				inner join user u on u.seq = a.createdBy
				inner join articleUploaded au on au.pseq = a.aSeq
			WHERE 1=1
   			ORDER BY a.aSeq DESC
			limit 99999999999
		)aa
		limit 6
    </select>
    
    <select id="articleComment" resultMap="resultMapObj">
		select
			ac.seq
			,ac.comment
			,ac.modifiedAt
			,u.id as id
		from article_comment ac
			inner join user u on u.seq = ac.createdBy
		where 1=1
			and article_seq = #{aSeq}
			and DelNy = 0
	</select>
	
	<select id="articleCommentCount" resultType="Integer">
		SELECT COUNT(*)
		from article_comment ac
			inner join user u on u.seq = ac.createdBy
		where 1=1
			and article_seq = #{aSeq}
			and DelNy = 0
	</select>

	<select id="abroad" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
			,t.stadium
		from team t
		group by abroadNy
	</select>
	
	<select id="event" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
			,t.stadium
		from team t
		where 1=1
			and abroadNy = #{abroadNy}
		group by event
	</select>
	
	<select id="league" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
			,t.stadium
		from team t
		where 1=1
			and abroadNy = #{gAbroadNy}
			and event = #{event}
		group by league
	</select>

</mapper>