<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spopia.infra.modules.game.GameMapper">

    <resultMap id="resultMapObj" type="com.spopia.infra.modules.game.Game"></resultMap>
    
   <sql id ="selectCommon">
		from game g
			inner join team t1 on t1.teamSeq = g.team_home
			inner join team t2 on t2.teamSeq = g.team_away
		where 1=1
			and g.gcDelNy = 0
		    <if test="shDelNy != null and !shDelNy.equals('')">AND gcDelNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND gameDate LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 2">AND team_home LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND team_away LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
			<choose>
				<when test="shDate == 1">AND gCreatedAt BETWEEN #{startDate} AND #{endDate}</when>
				<otherwise></otherwise>
			</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				g.gSeq
				,g.gAbroadNy
			    ,g.gEvent
			    ,g.gLeague
			    ,g.score_home
			    ,g.score_away
			    ,g.player_home
			    ,g.player_away
			    ,g.stadium
			    ,g.gameDate
			    ,g.gameDuration
			    ,g.gCreatedAt
			    ,g.gModifiedAt
			    ,g.gcDelNy
			    ,t1.teamName as team_home
			    ,t2.teamName as team_away
		    <include refid="selectCommon"></include>
		    ORDER BY 
		    	g.gameDate DESC
		    	,g.gameDuration ASC
		   	<include refid="Base.orderByLimitForMysql" />
	   	<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectList1" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				g.gSeq
				,g.gAbroadNy
			    ,g.gEvent
			    ,g.gLeague
			    ,g.score_home
			    ,g.score_away
			    ,g.player_home
			    ,g.player_away
			    ,g.stadium
			    ,g.gameDate
			    ,g.gameDuration
			    ,g.gCreatedAt
			    ,g.gModifiedAt
			    ,g.gcDelNy
			    ,t1.teamName+24 as team_home
			    ,t2.teamName+24 as team_away
		    <include refid="selectCommon"></include>
		    ORDER BY 
		    	g.gameDate DESC
		    	,g.gameDuration DESC
		   	<include refid="Base.orderByLimitForMysql" />
		   	) aa
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			g.gAbroadNy
		    ,g.gEvent
		    ,g.gLeague
		    ,g.score_home
		    ,g.score_away
		    ,g.player_home
		    ,g.player_away
		    ,g.stadium
		    ,DATE_FORMAT(g.gameDate, '%Y-%m-%d') as gameDate
		    ,DATE_FORMAT(g.gameDuration, '%H:%i') as gameDuration
		    ,g.gCreatedAt
		    ,g.gModifiedAt
		    ,g.gcDelNy
		    ,t1.teamSeq+24 as team_home
		    ,t2.teamSeq+24 as team_away
		from game g
			inner join team t1 on t1.teamSeq = g.team_home
			inner join team t2 on t2.teamSeq = g.team_away
		where 1=1
			AND g.gSeq = #{gSeq}
	</select>
	
	<insert id="insert">
		INSERT INTO game (
			gAbroadNy
			,gEvent
			,gLeague
			,team_home
			,team_away
			,score_home
			,score_away
			,player_home
			,player_away
			,stadium
			,gameDate
			,gameDuration
			,gcDelNy
			,gCreatedAt
			,gModifiedAt
		) 
		VALUES (
			#{gAbroadNy}
			,#{gEvent}
			,#{gLeague}
			,#{team_home}-24
			,#{team_away}-24
			,#{score_home}
			,#{score_away}
			,#{player_home}
			,#{player_away}
			,#{stadium}
			,#{gameDate}
			,#{gameDuration}
			,0
			,now()
			,now()
		)
		<selectKey resultType="String" keyProperty="gSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE game 
		SET
			gAbroadNy = #{gAbroadNy}
			,gEvent = #{gEvent}
			,gLeague = #{gLeague}
			,score_home = #{score_home}
			,score_away = #{score_away}
			,player_home = #{player_home}
			,player_away = #{player_away}
			,stadium = #{stadium}
			,gameDate = #{gameDate}
			,gameDuration = #{gameDuration}
			,team_home = #{team_home}-24
			,team_away = #{team_away}-24
			,gModifiedAt = now()
		WHERE 1=1
			and gSeq = #{gSeq}
	</update>
	
	<update id="uelete">
		UPDATE game
		SET
			gcDelNy = 1
			,modifiedAt = now()
		where 1=1
			and gSeq = #{gSeq}
	</update>

	<delete id="delete">
		DELETE
		FROM game where gSeq = #{gSeq}
	</delete>
	
	<select id="mainList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				g.gSeq
				,g.gAbroadNy
			    ,g.gEvent
			    ,g.gLeague
			    ,g.score_home
			    ,g.score_away
			    ,g.player_home
			    ,g.player_away
			    ,g.stadium
			    ,g.gameDate
			    ,DATE_FORMAT(g.gameDuration,'%H:%i') as gameDuration
			    ,g.gCreatedAt
			    ,g.gModifiedAt
			    ,g.gcDelNy
			    ,t1.teamName as team_home
			    ,t2.teamName as team_away
		    from game g
				inner join team t1 on t1.teamSeq = g.team_home
				inner join team t2 on t2.teamSeq = g.team_away
			where 1=1
				and g.gcDelNy = 0
				and date_format(gameDate, '%Y-%m-%d') = date_format(now(),  '%Y-%m-%d')
		    ORDER BY 
		    	g.gameDate ASC
		    	,g.gameDuration ASC
		   	limit 99999999999
	   	)aa
	</select>
	
	<select id="gameComment" resultMap="resultMapObj">
		select
			gc.seq
			,gc.comment
			,gc.modifiedAt
			,u.id as id
		from game_comment gc
			inner join user u on u.seq = gc.createdBy
		where 1=1
			and game_seq = #{gSeq}
			and DelNy = 0
	</select>
	
	<select id="gameCommentCount" resultType="Integer">
		SELECT COUNT(*)
		from game_comment gc
			inner join user u on u.seq = gc.createdBy
		where 1=1
			and game_seq = #{gSeq}
			and DelNy = 0
	</select>	
	
	<select id="gameList" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
		from team t
	</select>
	
	<select id="abroad" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
			,t.stadium
		from team t
		group by abroadNy
	</select>
	
	<select id="event" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
			,t.stadium
		from team t
		where 1=1
			and abroadNy = #{abroadNy}
		group by event
	</select>
	
	<select id="league" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
			,t.stadium
		from team t
		where 1=1
			and abroadNy = #{gAbroadNy}
			and event = #{event}
		group by league
	</select>
	
	<select id="teamName" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
			,t.stadium
		from team t
		where 1=1
			and abroadNy = #{gAbroadNy}
			and event = #{event}
			and league = #{league}
		group by teamName
	</select>

	<select id="stadium" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
			,t.stadium
		from team t
		where 1=1
			and abroadNy = #{gAbroadNy}
			and event = #{event}
			and league = #{league}
			and teamName = #{teamName}
		group by stadium
	</select>
</mapper>