<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spopia.infra.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.spopia.infra.modules.member.Member"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select 
			u.seq
		    ,u.name
		    ,u.id
		    ,u.email
		    ,u.gender
		    ,u.dob
		    ,u.radio_operator
		    ,u.phone
		    ,u.zip
		    ,u.address
		    ,u.address_detail
		    ,u.job
		    ,date_format(u.createdAt, '%Y.%m.%d %H:%i:%s') as createdAt
		    ,date_format(u.modifiedAt, '%Y.%m.%d %H:%i:%s') as modifiedAt
		    ,u.user_div
			,t.teamName as team
		from user u
		inner join teamUser tu on tu.user_seq = u.seq
		inner join team t on t.teamSeq = tu.team_seq
		where 1=1
			and tu.defaultNY = 0
			
			<if test="shDelNy != null and !shDelNy.equals('')">AND deleteNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND seq = #{shValue}</when>
				<when test="shOption == 2">AND name LIKE CONCAT('%', #{shValue}, '%')</when>
				<when test="shOption == 3">AND id LIKE CONCAT('%', #{shValue}, '%')</when>
				<when test="shOption == 4">AND email LIKE CONCAT('%', #{shValue}, '%')</when>
			</choose>
	</select>

</mapper>