<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spopia.infra.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.spopia.infra.modules.member.Member"></resultMap>
    
    <sql id ="selectCommon">
		FROM user u
			inner join teamUser tu on tu.user_seq = u.seq
			inner join team t on t.teamSeq = tu.team_seq
		WHERE 1=1
			and tu.defaultNY = 0
		<if test="shDelNy != null and !shDelNy.equals('')">AND uDelNy = #{shDelNy}</if>
		<choose>
				<when test="shDate == 1">AND createdAt BETWEEN #{startDate} AND #{endDate}</when>
				<otherwise></otherwise>
			</choose>
		<choose>
			<when test="shOption == 1">AND seq = #{shValue}</when>
			<when test="shOption == 2">AND name LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND id LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	
	<!-- <select id="selectList" resultMap="resultMapObj">
		select 
			u.seq
		    ,u.name
		    ,u.id
		    ,u.email
		    ,u.gender
		    ,u.dob
		    ,u.radio_operator
		    ,u.phone
		    ,u.zip
		    ,u.address
		    ,u.address_detail
		    ,u.job
		    ,date_format(u.createdAt, '%Y-%m-%d %H:%i:%s') as createdAt
		    ,date_format(u.modifiedAt, '%Y-%m-%d %H:%i:%s') as modifiedAt
		    ,u.user_div
		    ,u.uDelNy
			,t.teamName as team
		from user u
		inner join teamUser tu on tu.user_seq = u.seq
		inner join team t on t.teamSeq = tu.team_seq
		where 1=1
			and tu.defaultNY = 0
			
			<if test="shDelNy != null and !shDelNy.equals('')">AND uDelNy = #{shDelNy}</if>
			<choose>
				<when test="shDate == 1">AND createdAt BETWEEN #{startDate} AND #{endDate}</when>
				<otherwise></otherwise>
			</choose>
			<choose>
				<when test="shOption == 1">AND seq = #{shValue}</when>
				<when test="shOption == 2">AND name LIKE CONCAT('%', #{shValue}, '%')</when>
				<when test="shOption == 3">AND id LIKE CONCAT('%', #{shValue}, '%')</when>
			</choose>
	</select> -->
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				u.seq
			    ,u.name
			    ,u.id
			    ,u.email
			    ,u.gender
			    ,u.dob
			    ,u.radio_operator
			    ,u.phone
			    ,u.zip
			    ,u.address
			    ,u.address_detail
			    ,u.job
			    ,date_format(u.createdAt, '%Y-%m-%d %H:%i:%s') as createdAt
			    ,date_format(u.modifiedAt, '%Y-%m-%d %H:%i:%s') as modifiedAt
			    ,u.user_div
			    ,u.uDelNy
				,t.teamName as team
			<include refid="selectCommon"></include>
			ORDER BY u.seq DESC
			<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectList1" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				u.seq
			    ,u.name
			    ,u.id
			    ,u.email
			    ,u.gender
			    ,u.dob
			    ,u.radio_operator
			    ,u.phone
			    ,u.zip
			    ,u.address
			    ,u.address_detail
			    ,u.job
			    ,date_format(u.createdAt, '%Y-%m-%d %H:%i:%s') as createdAt
			    ,date_format(u.modifiedAt, '%Y-%m-%d %H:%i:%s') as modifiedAt
			    ,u.user_div
			    ,u.uDelNy
				,t.teamName as team
			<include refid="selectCommon"></include>
			ORDER BY u.seq DESC
			<include refid="Base.orderByLimitForMysql" />
			) aa
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select 
			u.seq
		    ,u.name
		    ,u.id
		    ,u.email
		    ,u.gender
		    ,u.dob
		    ,u.radio_operator
		    ,u.phone
		    ,u.zip
		    ,u.address
		    ,u.address_detail
		    ,u.job
		    ,date_format(u.createdAt, '%Y-%m-%d %H:%i:%s') as createdAt
		    ,date_format(u.modifiedAt, '%Y-%m-%d %H:%i:%s') as modifiedAt
		    ,u.user_div
		    ,u.uDelNy
			,t.teamName as team
		from user u
			inner join teamUser tu on tu.user_seq = u.seq
			inner join team t on t.teamSeq = tu.team_seq
		where 1=1
			and u.seq = #{seq}
			and tu.defaultNY = 0
	</select>
	
	
	<!-- user insert -->
	<insert id="userInsert">
		INSERT INTO user (
			name
			,id
			,email
			,pwd
			,gender
			,dob
			,radio_operator
			,phone
			,zip
			,address
			,address_detail
			,job
			,createdAt
			,modifiedAt
			,user_div
			,uDelNy
		)
		VALUES (
			#{name}
			,#{id}
			,#{email}
			,#{pwd}
			,#{gender}
			,#{dob}
			,#{radio_operator}
			,#{phone}
			,#{zip}
			,#{address}
			,#{address_detail}
			,#{job}
			,now()
			,now()
			,25
			,0
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- team insert -->
	<insert id="teamInsert">
		INSERT INTO teamUser (
			team_seq
			,user_seq
			,deleteNY
			,defaultNY
		)
		VALUES (
			#{team}
			,#{seq}
			,0
			,0
		)
		<selectKey resultType="String" keyProperty="tuSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- user Update -->
	<update id="userUpdate">
		UPDATE user
		SET
			name = #{name}
			,id = #{id}
			,dob = #{dob}
			,email = #{email}
			,phone = #{phone}
			,gender = #{gender}
			,job = #{job}
			,zip = #{zip}
			,address = #{address}
			,address_detail = #{address_detail}
			,modifiedAt = now()
			,user_div = #{user_div}
		where 1=1
			and seq = #{seq}
	</update>
	
	<!-- team Update -->
	<update id="teamUpdate">
		UPDATE teamUser
		SET
			team_seq = #{team}
		where 1=1
			and user_seq = #{seq}
		    and defaultNY = 0
	</update>
	
	<!-- id중복 관련 -->
	<select id="idCheck" parameterType="String" resultType="String">
		select count(*) from user where id = #{id}
	</select>

</mapper>