<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spopia.infra.modules.main.MainMapper">

    <resultMap id="resultMapObj" type="com.spopia.infra.modules.main.Main"></resultMap>
    	
    <!-- main List -->
    <select id="articleList" resultMap="resultMapObj">
    	<include refid="Base.selectListUpperForMysql" />
	    	SELECT
	    		a.seq
	    		,a.title
	    		,a.content
	    		,a.newspaper
	    		,a.aAbroadNy
	    		,a.aEvent
	    		,a.aLeague
	    		,a.reporter
	    		,a.aCreatedAt
	    		,a.aModifiedAt
	    		,u.email as email
	   		FROM article a
				inner join user u on u.seq = a.createdBy
			WHERE 1=1
   			ORDER BY a.seq DESC
			limit 99999999999
		)aa
		limit 6
    </select>
    
    <!-- main List -->
	<select id="gameList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select 
				g.seq
				,g.gAbroadNy
			    ,g.gEvent
			    ,g.gLeague
			    ,g.score_home
			    ,g.score_away
			    ,g.player_home
			    ,g.player_away
			    ,g.stadium
			    ,g.gameDate
			    ,g.gameDuration
			    ,g.gCreatedAt
			    ,g.gModifiedAt
			    ,g.gcDelNy
			    ,t1.teamName as team_home
			    ,t2.teamName as team_away
		    from game g
				inner join team t1 on t1.teamSeq = g.team_home
				inner join team t2 on t2.teamSeq = g.team_away
			where 1=1
				and g.gcDelNy = 0
				and date_format(gameDate, '%Y-%m-%d') = date_format(now(),  '%Y-%m-%d')
		    ORDER BY 
		    	g.gameDate ASC
		    	,g.gameDuration ASC
		   	limit 99999999999
	   	)aa
	</select>
    

</mapper>