<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spopia.infra.modules.team.TeamMapper">

    <resultMap id="resultMapObj" type="com.spopia.infra.modules.team.Team"></resultMap>
    
    <select id="team" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
		from team t
	</select>
    
	<select id="abroad" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
		from team t
		group by abroadNy
	</select>
	
	<select id="event" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
		from team t
		group by event
	</select>
	
	<select id="league" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
		from team t
		where 1=1
			and abroadNy = #{gAbroadNy}
			and event = #{event}
		group by league
	</select>
	
	<select id="teamName" resultMap="resultMapObj">
		select
			t.teamSeq
			,t.abroadNy
			,t.event
			,t.league
			,t.teamName
		from team t
		where 1=1
			and abroadNy = #{gAbroadNy}
			and event = #{event}
			and league = #{league}
		group by teamName
	</select>
</mapper>