<?xml version="1.0" encoding="UTF-8" ?>

<!-- 가이드 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 본 내용 -->
<mapper namespace="com.spopia.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.spopia.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
		FROM CCG a
<!-- 		WHERE 1=1
			AND useNY = 1 -->
	</select>

</mapper>	