<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spopia.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.spopia.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<sql id ="selectCommon">
		FROM codeGroup a
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND ifcgDelNy = #{shDelNy}</if>
		<choose>
			<when test="shOption == 1">AND ccgSeq = #{shValue}</when>
			<when test="shOption == 2">AND ifcgName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
			select
				a.ccgSeq
				,a.ifcgAnother
				,a.ifcgName
				,a.ifcgNameEng
				,a.ifcgUseNy
				,a.ifcgOrder
				,a.ifcgExplanation
				,a.ifcgDelNy
				,a.ifcgReferencev1
				,a.ifcgReferencev2
				,a.ifcgReferencev3
				,a.ifcgReferenceI1
				,a.ifcgReferenceI2
				,a.ifcgReferenceI3
				,a.createdAt
				,a.modifiedAt
			<include refid="selectCommon" />
			ORDER BY a.ccgSeq DESC
	</select>
	<!-- <select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select
				a.ccgSeq
				,a.ifcgAnother
				,a.ifcgName
				,a.ifcgNameEng
				,a.ifcgUseNy
				,a.ifcgOrder
				,a.ifcgExplanation
				,a.ifcgDelNy
				,a.ifcgReferencev1
				,a.ifcgReferencev2
				,a.ifcgReferencev3
				,a.ifcgReferenceI1
				,a.ifcgReferenceI2
				,a.ifcgReferenceI3
				,a.createdAt
				,a.modifiedAt
			    ,(select count(c.codeGroup_ccgSeq) from code c where 1=1 and c.codeGroup_ccgSeq = a.ccgSeq) as count
			<include refid="selectCommon" />
			ORDER BY a.ccgSeq DESC
			<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select> -->
	
	<select id="selectList1" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			select
				a.ccgSeq
				,a.ifcgAnother
				,a.ifcgName
				,a.ifcgNameEng
				,a.ifcgUseNy
				,a.ifcgOrder
				,a.ifcgExplanation
				,a.ifcgDelNy
				,a.ifcgReferencev1
				,a.ifcgReferencev2
				,a.ifcgReferencev3
				,a.ifcgReferenceI1
				,a.ifcgReferenceI2
				,a.ifcgReferenceI3
				,a.createdAt
				,a.modifiedAt
			    ,(select count(c.codeGroup_ccgSeq) from code c where 1=1 and c.codeGroup_ccgSeq = a.ccgSeq) as count
			<include refid="selectCommon" />
			ORDER BY a.ccgSeq DESC
			<include refid="Base.orderByLimitForMysql" />
		)aa
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		
		select
			cg.*
		from codeGroup cg
		where 1=1
			AND ccgSeq = #{ccgSeq}
			
	</select>
	
	<insert id="insert">
		INSERT INTO codeGroup (
			ifcgName
			,ifcgAnother
			,ifcgNameEng
			,ifcgUseNy
			,ifcgOrder
			,ifcgExplanation
			,ifcgDelNy
			,ifcgReferencev1
			,ifcgReferencev2
			,ifcgReferencev3
			,ifcgReferenceI1
			,ifcgReferenceI2
			,ifcgReferenceI3
			,createdAt
			,modifiedAt
		)
		VALUES (
			#{ifcgName}
			,#{ifcgAnother}
			,#{ifcgNameEng}
			,#{ifcgUseNy}
			,#{ifcgOrder}
			,#{ifcgExplanation}
			,0
			,#{referenceV1}
			,#{referenceV2}
			,#{referenceV3}
			,#{referenceI1}
			,#{referenceI2}
			,#{referenceI3}
			,now()
			,now()
		)
		
		<selectKey resultType="String" keyProperty="ccgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE codeGroup
		SET
			ifcgName = #{ifcgName}
			,ifcgAnother = #{ifcgAnother}
			,ifcgNameEng = #{ifcgNameEng}
			,ifcgUseNy = #{ifcgUseNy}
			,ifcgOrder = #{ifcgOrder}
			,ifcgExplanation = #{ifcgExplanation}
			,ifcgReferencev1 = #{referenceV1}
			,ifcgReferencev2 = #{referenceV2}
			,ifcgReferencev3 = #{referenceV3}
			,ifcgReferenceI1 = #{referenceI1}
			,ifcgReferenceI2 = #{referenceI2}
			,ifcgReferenceI3 = #{referenceI3}
			,modifiedAt = now()
		WHERE 1=1
			AND ccgSeq = #{ccgSeq}
	</update>
	
	<update id="uelete">
		UPDATE codeGroup
		SET
			ifcgDelNy = 1
			,modifiedAt = now()
		where 1=1
			and ccgSeq = #{ccgSeq}
	</update>
	
	<delete id="delete">
		DELETE
		FROM codeGroup where ccgSeq = #{ccgSeq}
	</delete>

</mapper>	