<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spopia.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.spopia.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<!-- <sql id ='selectCommon'>
		FROM CCG cg
		WHERE 1=1
			<if test="groupName != null and !groupName.eqauls('')">AND groupName = #{shValue}</if>
			<choose>
				<when test="shOption == 1">AND groupName LIKE CONCAT('%', ${shValue},'%')</when>
				<when test="shOption == 2">AND seq = #{shValue}</when>
			</choose>
	</sql> -->
	
	<select id="selectList" resultMap="resultMapObj">
		<!-- select 
			cg.*
		    ,count(c.CCG_seq)
		from CCG cg
		inner join CC c on c.CCG_seq = cg.seq
		group by
			c.CCG_seq -->
		
		select
			cg.ccgSeq
			,cg.ifcgAnother
			,cg.ifcgName
			,cg.ifcgNameEng
			,cg.ifcgUseNy
			,cg.ifcgOrder
			,cg.ifcgExplanation
			,cg.ifcgDelNy
			,cg.ifcgReferencev1
			,cg.ifcgReferencev2
			,cg.ifcgReferencev3
			,cg.ifcgReferenceI1
			,cg.ifcgReferenceI2
			,cg.ifcgReferenceI3
			,cg.createdAt
			,cg.modifiedAt
		    ,(select count(c.codeGroup_ccgSeq) from code c where 1=1 and c.codeGroup_ccgSeq = cg.ccgSeq) as count
		from codeGroup cg
		where 1=1
			
			<!-- <if test="shDelNy != null and !shDelNy.equals('')">AND ifcgDelNy = #{shDelNy}</if> -->
			
			<if test="shDelNy != null and !shDelNy.equals('')">AND ifcgDelNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND ccgSeq = #{shValue}</when>
				<when test="shOption == 2">AND ifcgName LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		
		select
			cg.*
		from codeGroup cg
		where 1=1
			AND ccgSeq = #{ccgSeq}
			
	</select>
	
	<insert id="insert">
		INSERT INTO codeGroup (
			ifcgName
			,ifcgAnother
			,ifcgNameEng
			,ifcgUseNy
			,ifcgOrder
			,ifcgExplanation
			,ifcgDelNy
			,ifcgReferencev1
			,ifcgReferencev2
			,ifcgReferencev3
			,ifcgReferenceI1
			,ifcgReferenceI2
			,ifcgReferenceI3
			
		)
		VALUES (
			#{ifcgName}
			,#{ifcgAnother}
			,#{ifcgNameEng}
			,#{ifcgUseNy}
			,#{ifcgOrder}
			,#{ifcgExplanation}
			,#{ifcgDelNy}
			,#{referenceV1}
			,#{referenceV2}
			,#{referenceV3}
			,#{referenceI1}
			,#{referenceI2}
			,#{referenceI3}
		)
		
		<selectKey resultType="String" keyProperty="ccgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>

</mapper>	